[Unit]
Description=GSM Monitoring in Docker Container
Documentation=https://git.inf.h-brs.de/mkoch12s/gsm-monitor/-/blob/main/README.md
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --privileged \
-v /etc/timezone:/etc/timezone:ro \
-v /etc/localtime:/etc/localtime:ro \
-v /dev/bus/usb:/dev/bus/usb \
-v "/home/gsm-raspi/output:/output" gsm-monitor 924.2M

[Install]
WantedBy=multi-user.target
