[Unit]
Description=GSM Monitoring in Docker Container
Documentation=https://git.inf.h-brs.de/mkoch12s/gsm-monitor/-/blob/main/README.md
Requires=docker.service
After=docker.service

# If not started correctly, try to restart the container 10 times in 10 min
StartLimitIntervalSec=600
StartLimitBurst=10

[Service]
# Depending on the provider, specify an argument for provider-monitor in Dockerfile.provider-monitor
ExecStart=/usr/bin/docker run --privileged \
-v /etc/timezone:/etc/timezone:ro \
-v /etc/localtime:/etc/localtime:ro \
-v /dev/bus/usb:/dev/bus/usb \
-v "/home/$USER/output:/output" gsm-monitor

# If antenna is plugged or not connected, the service will not start correctly
# Try to restart the service / container every 30 seconds 
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target



